.App {
  height: 100vh;
  text-align: center;
  position: relative;
  background: radial-gradient(
    circle at top left,
    #8aefe8 1%,
    white 5%,
    #79bae6 9%,
    #f1f1f5 15%,
    #3db7e9 100%
  );
}
